@model IEnumerable<MVCBank.Models.Transaction>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<h2 class="mt-3">Transactions All Information</h2>

<table class="table table-bordered table-sm">
    <tr class="bg-info text-light tr_font">
        <th>
            SqNo.
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Branch.BranchName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AccountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Deposit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Withdraw)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
    </tr>
    @{ int count = 0;
        foreach (var item in Model)
        {
            count++;
            <tr class="tr_font">
                <td>@count</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branch.BranchName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deposit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Withdraw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TransactionDate)
                </td>
            </tr>
            }
        }
    </table>
